.score {
  flex: 1;
  display: flex;
}

.displayScore {
  margin: auto;
  margin-bottom: 1%;
}

.cards {
  flex: 3;
  display: flex;
}

.displayCards {
  margin: auto;
  height: 75%;
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h2 {
  text-align: center;
  color: blanchedalmond;
}

img {
  height: 100%;
  width: 100%;
  max-height: 19.6vh;
  max-width: 19.6vh;
  border-radius: 1rem;
}
